@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.input-control .error{
    color: #FB3E3E;
    font-size: 0.8rem;
    font-weight: lighter;
    padding-top: 0.5rem;
    background-color: #121725;
}
